service: s3uploadserver

plugins:
  - serverless-apigw-binary

custom:
  apigwBinary:
    types:
      - '*/*'

provider:
    name: aws
    runtime: nodejs12.x
    stage: dev
    region: eu-north-1

functions:
    app:
        handler: handler.app
        events:
            - http:
                path: /{proxy+}
                method: GET
                # cors: true
            - http:
                path: /{proxy+}
                method: POST
                # cors: true
            - http:
                path: /{proxy+}
                method: OPTIONS
                # cors: true
